<div class="container mt-5">
  <div class="card align-items-center">
    CODVID 19 TRACKER APP
  </div>
  <div class="card">
    <div class="row m-3">
      <div class="col-lg-4" *ngFor="let c of allData">
        <div class="card m-2">
          <div class="card-header">{{c.country}}</div>
          <div class="card-body">
            <p class="card-text">Cases: {{c.cases}}</p>
            <p class="card-text">TodayCases: {{c.todayCases}}</p>
            <p class="card-text">Deaths: {{c.deaths}}</p>
            <p class="card-text">Critical: {{c.critical}}</p>
            <p class="card-text">Active: {{c.active}}</p>
            <p class="card-text">CasesPerOneMillion: {{c.casesPerOneMillion}}</p>
            <p class="card-text">TotalTests: {{c.totalTests}}</p>
            <p class="card-text">TestsPerOneMillion: {{c.testsPerOneMillion}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
